--- kubernetes installation
[requirements]
--- cgroups v2
# dnf install -y grubby &&   sudo grubby   --update-kernel=ALL   --args=â€systemd.unified_cgroup_hierarchy=0"

--- install docker ce
# dnf install yum-utils device-mapper-persistent-data lvm2

--- Add Docker repository.
# yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

--- Install Docker CE.
dnf update -y && dnf install docker-ce-18.06.2.ce -y

--- Create /etc/docker directory.
# mkdir /etc/docker

--- Setup daemon.
# cat > /etc/docker/daemon.json <<EOF
{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
EOF

--- create systemd service 
# mkdir -p /etc/systemd/system/docker.service.d

--- Restart Docker
# systemctl daemon-reload
# systemctl restart docker

--- kubectl
# curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
